<div class="hero-unit"><h1>Welcome to the Pilot App</h1>
<p>

	This is where it all begins for <%= link_to "Its Play", "http://itsplay.com.au" %>

</p>
<p>
	<%= link_to "Sign Up Here", "#", class:"btn-primary btn-large" %>

</p></div>